<%= form_with model: [:admin, article] do |f| %>

  <div class="form-group">
    <label><%= f.label :title %></label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= f.label :content %></label>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= f.label :published_at %></label>
    <%= f.datetime_select :published_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= f.label :status %></label>
    <%= f.select :status, Article.status.options, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= f.label :important %></label>
    <%= f.check_box :important, {}, class: "form-control" %>
  </div>

  <div class="form-row">
    <%= f.submit "作成", class: "btn btn-primary" %>
  </div>
<% end %>
