<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="UTF-8">
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/admin_header" %>
    <div class="c-wrapper">
      <div class="row h-100">
        <div class="col-md-3">
          <%= render "layouts/admin_sidebar" %>
        </div>
        <div class="col-md-9">
          <div class="c-body">
            <main class="c-main">
              <%= render "shared/error_messages", error_messages: @error_messages %>
              <%= render "shared/flash" %>

              <%= yield %>

            </main>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
